<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Agreement</title>
</head>
<body>
<h1>Створення договору оренди</h1>

<p><strong>Номер угоди:</strong> {{ agreement_number }}</p>
<p><strong>Дата підписання:</strong> {{ signature_date }}</p>
<p><strong>Сума до оплати:</strong> <span id="payment_sum">{{ payment_sum }} UAH</span></p>

<form method="POST">
    {% csrf_token %}
    <h3>Вибір страхування:</h3>
    <select name="insurance_id">
        <option value="">Без страхування</option>
        {% for insurance in insurances %}
            <option value="{{ insurance.insurance_id }}"
                    {% if selected_insurance and insurance.insurance_id == selected_insurance.insurance_id %}selected{% endif %}>
                {{ insurance.insurance_type }} - {{ insurance.insurance_value }} UAH
            </option>
        {% endfor %}
    </select>
    <button type="submit" name="select_insurance">Оновити страхування</button>
    {% if promo_code %}
        <p><strong>Застосовано промокод:</strong> {{ promo_code.code }}</p>
        <p><strong>Знижка:</strong> {{ discount }}%</p>
        <button type="submit" name="remove_promo_code">Видалити промокод</button>
    {% else %}
        <h3>Застосування промокоду:</h3>
        <label for="promo_code">Промокод:</label>
        <input type="text" id="promo_code" name="promo_code" placeholder="Введіть промокод">
        <button type="submit" name="apply_promo_code">Застосувати промокод</button>
    {% endif %}


</form>

<br>
<form method="POST" action="{% url 'confirm_rental_agreement' booking.booking_id %}">
    {% csrf_token %}
    <button type="submit" name="confirm">Підписати угоду</button>
</form>

<br>
<form method="GET" action="{% url 'cancel_rental_agreement' booking_id=booking.booking_id %}">
    <button type="submit" name="cancel">Скасувати</button>
</form>
</body>
</html>
